@font-face {
    font-family: 'segeoui';
    src: url('/font/segeoui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('/font/OpenSans-Regular-webfont.eot');
    src: url('/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSans-Regular-webfont.woff2') format('woff2'),
    url('/font/OpenSans-Regular-webfont.woff') format('woff'),
    url('/font/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: segeoui, open_sansregular, Arial, Verdana, sans-serif;
    color: #111;
    background-color: #333;
    margin:0;
}

header
{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: #2e7d32;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 75px;
}

#ClementMuller{
    margin: 12px 15px 15px 25px;
    color: white;
}

nav {
    padding-right: 12px;
}

.responsiveNav {
    display: none;
}

nav div
{
    display: inline-block;
    margin: 0 15px 0 15px;
    color: white;
}

nav div a {
    text-decoration: none;
    color: white;
}

nav h3
{
    margin:0;
}



.userIcon {
    margin: 0;
    padding: 0 15px 0 15px;
    position: relative;
}

.userMenu {
    display: none;
}

.userIcon:hover .userMenu {
    display : flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0px;
    border: 1px solid white;
    padding: 5px;
    background-color: #2e7d32;
}

.userMenu a {
    margin: 5px;
    display: block;
}


#bloc_page
{
    max-width: 1024px;
    height:1080px;
    margin:auto;
    padding: 75px 10px 10px 10px;
    background-color: #FFF;
    display: flex;
    flex-direction:column;
}

/*
#construction
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

 */

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}


h2 {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0 0 5px 0;
}

a {
    text-decoration: none;
    color: #111;
}

p {
    margin: 0;
}

input[type="submit"]{
    cursor:pointer;
}

button, input[type="submit"] {
    cursor:pointer;
    border : none;
    margin : 2px;
    padding : 2px 11px 2px 11px;
    height : 22px;
    border-radius: 11px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: #ddd;
}

button:hover, input[type="submit"]:hover {
    background-color: #ccc;
}

button:focus, input[type="submit"]:focus {
    outline: none;
    background-color: #bbb;
}

.miniature
{
    width: 300px;
    height: auto;
    margin: 20px;
}

.button
{
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 300px;
    height: auto;
}

.fond
{
    border-radius: 10px 10px 0 0;

    height: 200px;
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
/*
.fond img
{
    width: 300px;
    height: 200px;
    margin: 0;
}
*/
#image{
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}



.pictures {
    object-fit: contain;
}

#fullscreen {
    cursor:pointer;
}

.fullscreen {
    Z-index : 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    overflow: auto;
}

.hidden {
    display: none;
}

.escape {
    position: absolute;
    border-radius: 50%;
    height: 1.45em;
    width: 1.45em;
    text-align: center;
    background-color: rgba(125,125,125,0.5);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255,255,255,0.5);
    font-size: 2em;
    cursor:pointer;
}

.menu-auth
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.photo
{
    border-radius: 0 ;
    box-shadow: none ;
}

/*--------------------------------------------------------------------------------------------------------------Slider*/

@keyframes slidy
{
    0% { left: 0%; }

    10% { left: -100%; }
    20% { left: -100%; }

    30% { left: -200%; }
    40% { left: -200%; }

    50% { left: -300%; }
    60% { left: -300%; }

    70% { left: -400%; }
    80% { left: -400%; }

    90% { left: -500%; }
    100% { left: -500%; }
}

.slider
{
    overflow: hidden;
}

.slider figure img
{
    width: 16.6666666666666666666666666666666666666666666666666666666%; float: left;
}

.slider figure
{
    position: relative;
    width: 600%;
    margin: 0 !important;
    left: 0;
    text-align: left;
    font-size: 0;
}

.slider figure:hover
{
    animation: 15s slidy infinite;

}

.prev-next {
    display: flex;
    justify-content: space-between;
    padding: 0 3em 0 3em;
}

.prev-next div a i {
    margin : 5px;
    font-size: 1.75em;
    width: 1em;
}


/*---------------------------------------------------------------------------------------------------------Formulaires*/
form
{
}

form div
{
    max-width: 960px;
    width: 90%;
    margin-left: 5%;
}

label
{
    display: block;
}
input
{
    width: 100%;
    margin-bottom: 15px;
}

.sliderForm {
    display: flex;
    align-items: center;
}
.sliderForm label {
    min-width : 50px;
}

.sliderForm input {
    margin : 5px 0 5px 10px;
}

@media (max-width: 768px)
{
    header {
        height: 50px;
    }

    .nav {
        position: relative;
    }

    nav {
        display: none;
    }

    .responsiveNav {
        display : block;
        color: white;
        margin-right: 20px;
        font-size: 1.5em;
        position: relative;
    }

    .nav:hover nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: 10px;
        border: 1px solid white;
        padding: 5px;
        background-color: #2e7d32;
    }

    nav div {
        display: block;
    }

    .userIcon:hover .userMenu {
        top: 0;
        right: 0px;
    }

    #bloc_page {

        padding: 50px 10px 10px 10px;
    }
}



/*
*{
	border: 1px solid black;
}
*/


