header {
    top: -80px;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#divHeader {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 80px;
}

#divHeader:hover header {
    transform: translateY(80px);
}

#bloc_page {
    padding: 0;
}

#header-CV {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid red 3px;
}
#header-CV-div {
    width: 90%;
    padding: 5%;
    background-color: #2e7d32;
    display: flex;
    justify-content: flex-end;
}

#header-CV h1, h2 {
    color: white;
}

#header-CV h1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 4px;
    margin-bottom: 5px;
    border-top: solid 2px rgba(255,255,255, 0.5);
    border-bottom: solid 2px rgba(255,255,255, 0.5);
}

@media (max-width: 768px) {

    header {
        position: static !important;
    }
}