@font-face {
    font-family: 'segeoui';
    src: url('/font/segeoui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('/font/OpenSans-Regular-webfont.eot');
    src: url('/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSans-Regular-webfont.woff2') format('woff2'),
    url('/font/OpenSans-Regular-webfont.woff') format('woff'),
    url('/font/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: segeoui, open_sansregular, Arial, Verdana, sans-serif;
    color: #111;
    background-color: #333;
    margin:0;
}

header {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background-color: #2e7d32;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 75px;
}

#ClementMuller {
    margin: 12px 15px 15px 25px;
    color: white;
}

nav {
    padding-right: 12px;
}

.responsiveNav {
    display: none;
}

nav div
{
    display: inline-block;
    margin: 0 15px 0 15px;
    color: white;
}

nav div a {
    text-decoration: none;
    color: white;
}

nav h3
{
    margin:0;
}



.userIcon {
    margin: 0;
    padding: 0 15px 0 15px;
    position: relative;
}

.userMenu {
    display: none;
}

.userIcon:hover .userMenu {
    display : -webkit-box;
    display : flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    position: absolute;
    top: 25px;
    right: 0;
    border: 1px solid white;
    padding: 5px;
    background-color: #2e7d32;
}

.userMenu a {
    margin: 5px;
    display: block;
}


#bloc_page
{
    max-width: 1024px;
    min-height:1080px;
    margin:auto;
    padding: 85px 10px 10px 10px;
    background-color: #FFF;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
}

/*
#construction
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

 */

#menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    flex-wrap: wrap;
}


h2 {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #111;
}

p {
    margin: 0;
}

input[type="submit"]{
    cursor:pointer;
}

button, input[type="submit"] {
    min-width: 50px;
    cursor:pointer;
    border : none;
    margin : 2px;
    padding : 2px 11px 2px 11px;
    height : 22px;
    border-radius: 11px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: #ddd;
}

button:hover, input[type="submit"]:hover {
    background-color: #ccc;
}

button:focus, input[type="submit"]:focus {
    outline: none;
    background-color: #bbb;
}

.miniature {
    width: 300px;
    height: auto;
    margin: 30px 20px 10px 20px;
}


.button {
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 300px;
    height: auto;
}

.fond {
    border-radius: 10px 10px 0 0;

    height: 200px;
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    overflow: hidden;
}

.tagsList {
    margin-top: 20px;
    text-align: center;
}

#image{
    width: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}

.containerImage {
    height: 700px;
}

.pictures {
    -o-object-fit: contain;
       object-fit: contain;
}

#fullscreen {
    cursor:pointer;
}

.fullscreen {
    Z-index : 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    overflow: auto;
}

.hidden {
    display: none;
}

.escape {
    position: absolute;
    border-radius: 50%;
    height: 1.45em;
    width: 1.45em;
    text-align: center;
    background-color: rgba(125,125,125,0.5);
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: rgba(255,255,255,0.5);
    font-size: 2em;
    cursor:pointer;
    Z-index : 6;
}

.menu-auth
{
    position: absolute;
    top:0;
    left:0;
    z-index: 6;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
}

.photo
{
    border-radius: 0 ;
    box-shadow: none ;
}

.container {
    display: -webkit-box;
    display: flex;
    margin: 20px;

}

.box {
    width: 50%;
    padding: 10px;
}

.box:nth-child(1) {
    -webkit-box-ordinal-group: 3;
            order: 2;
}

.imgPortfolio {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.miniPortfolio
{
    width: 300px;
    height: auto;
    margin: 20px auto 20px auto;
}

.prev-next {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 0 3em 0 3em;
}

.prev-next div {
    width: 25px;
    margin : 5px;
}

.prev-next div a i {
    font-size: 1.75em;
}

.flex {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.center {
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: start;
            justify-content: start;
}

.space-around {
    justify-content: space-around;
}

.relative {
    position: relative;
}

.link {
    min-width: 300px;
    margin: 3px 0 15px 0;
    text-decoration: underline;
}

.mg-5 {
    margin: 5px;
}

.CV {
    width: 400px;
}

.CV .button {
    width: 94%;
    padding: 3%;
}

.CV h3 {
    margin: 10px;
}

/*-------------------------------------------------------------------------------------------------------Slider photos*/
@-webkit-keyframes slidy
{
    0% { left: 0%; }

    10% { left: -100%; }
    20% { left: -100%; }

    30% { left: -200%; }
    40% { left: -200%; }

    50% { left: -300%; }
    60% { left: -300%; }

    70% { left: -400%; }
    80% { left: -400%; }

    90% { left: -500%; }
    100% { left: -500%; }
}
@keyframes slidy
{
    0% { left: 0%; }

    10% { left: -100%; }
    20% { left: -100%; }

    30% { left: -200%; }
    40% { left: -200%; }

    50% { left: -300%; }
    60% { left: -300%; }

    70% { left: -400%; }
    80% { left: -400%; }

    90% { left: -500%; }
    100% { left: -500%; }
}

.slider
{
    overflow: hidden;
}

.slider figure img
{
    width: 16.6666666666666666666666666666666666666666666666666666666%; float: left;
}

.slider figure
{
    position: relative;
    width: 600%;
    margin: 0 !important;
    left: 0;
    text-align: left;
    font-size: 0;
}

.slider figure:hover
{
    -webkit-animation: 15s slidy infinite;
            animation: 15s slidy infinite;

}

/*--------------------------------------------------------------------------------------------------Slider description*/
.descriptionFond{
    position: relative;
    overflow: hidden;
}

.description {
    position: absolute;
    margin: 0;
    top: 200px;
    background-color: lightgrey;
    height: 200px;
    width: 300px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.75s;
            transition-duration: 0.75s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}

.description p {
    max-height: 170px;
    margin: 15px;
    text-align: center;
    overflow: hidden;
}

.descriptionFond:hover .description{
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
}

/*---------------------------------------------------------------------------------------------------------Formulaires*/
form
{
}

form div
{
    max-width: 960px;
    width: 90%;
    margin-left: 5%;
}

label
{
    display: block;
}
input, textarea {
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    min-height: 75px;
}

.sliderForm {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}
.sliderForm label {
    min-width : 50px;
}

.sliderForm input {
    margin : 5px 0 5px 10px;
}

/*--------------------------------------------------------------------------------------------------------MediaQueries*/
@media (max-width: 768px) {

    header {
        height: 50px;
    }

    #bloc_page {
        padding: 50px 10px 10px 10px;
    }

    .nav {
        position: relative;
    }

    nav {
        display: none;
    }

    .responsiveNav {
        display : block;
        color: white;
        margin-right: 20px;
        font-size: 1.5em;
        position: relative;
    }

    .nav:hover nav {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        position: absolute;
        top: 0;
        right: 10px;
        border: 1px solid white;
        padding: 5px;
        background-color: #2e7d32;
    }

    nav div {
        display: block;
    }

    .userIcon:hover .userMenu {
        top: 0;
        right: 0;
    }

    .container {
        display: block;
        margin: 20px;
        padding: 10px;
    }

    .box {
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .CV {
        width: 300px;
    }

}



/*
*{
	border: 1px solid black;
}
*/


/*// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*/

