@font-face {
    font-family: 'segeoui';
    src: url('/font/segeoui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('/font/OpenSans-Regular-webfont.eot');
    src: url('/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSans-Regular-webfont.woff2') format('woff2'),
    url('/font/OpenSans-Regular-webfont.woff') format('woff'),
    url('/font/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: segeoui, open_sansregular, Arial, Verdana, sans-serif;
    color: #111;
    background-color: #333;
    margin:0;
}

#bloc_page
{
    max-width: 1024px;
    margin:auto;
    min-height:768px;
    padding: 10px;
    background-color: #FFF;
    display: flex;
    flex-direction:column;
}


#construction
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#menu
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}


h2
{
    color: #333;
    text-align: center;
    margin: 0 0 5px 0;
}

a
{
    text-decoration: none;
}

.miniature
{
    width: 300px;
    height: auto;
    margin: 20px;
}

.button
{
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 300px;
    height: 230px;
}

.fond
{
    height: 200px;
    background-color: #4cb050;
    border-radius: 10px 10px 0 0;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.fond h1
{
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    color: white;
    margin: 0;
}

.menu-auth
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.photo
{
    border-radius: 0 !important;
    box-shadow: none !important;
}

/*---------------------------------------------------------------------------------------------------------Formulaires*/
form
{
}

form div
{
    max-width: 960px;
    width: 90%;
    margin-left: 5%;
}

label
{
    display: block;
}
input
{
    width: 100%;
    margin-bottom: 15px;
}


/*
*
{
	border: 1px solid black;
}